In [4]:
import pandas as pd
import re

In [5]:
pattern = '[aA-zZ]+'

In [55]:
df = pd.read_excel ('Concert_Invitation.xlsx')
df.head()

,Timestamp,What's your name?,Will you attend?,How many people will come with you?,What will you bring?,Do you have any disease?,What is your email?
0,2021-09-02 10:31:27.639,Leo Phyno,"Yes, I will attend.",1.0,Mineral water,no,phynoal@gmail.com
1,2021-09-02 10:37:08.559,Karina Van,"Yes, I will attend.",3.0,"Snacks, Mineral water, Soda","Yes, flu",van3397@gmail.com
2,2021-09-02 10:47:45.000,Peter,"Sorry, I will not attend.",NaN,NaN,NaN,NaN
3,2021-09-02 10:47:46.427,Terry Lyana,"Yes, I will attend.",1.0,Soda,no,lylyana09@gmail.com
4,2021-09-02 10:48:08.516,Peter,"Sorry, I will not attend.",NaN,NaN,NaN,NaN

In [61]:
df["What will you bring?"].value_counts()

no                                         15
Mineral water                               3
Soda                                        2
Snacks, Mineral water, Soda                 1
Snacks, Soda                                1
Junk foods, Snacks, Mineral water, Soda     1
Snacks, Mineral water                       1
Staple foods, Snacks                        1
Junk foods, Mineral water                   1
Staple foods, Snacks, Soda                  1
Staple foods, Mineral water, Other          1
Staple foods, Other                         1
Other                                       1
Name: What will you bring?, dtype: int64

In [123]:
df["What will you bring?"] = df["What will you bring?"].fillna('no')

rows = []
for i in df['What will you bring?']:
    if "Mineral water" in i:
        i = 1
    rows.append([i])
mw = pd.DataFrame(rows, columns=['tes'])
mw.head()

    tes
0     1
1     1
2    no
3  Soda
4    no

In [128]:
mw['tes'].head()

0       1
1       1
2      no
3    Soda
4      no
Name: tes, dtype: object

In [137]:
# df["What will you bring?"] = df["What will you bring?"].fillna('no')

rows = []
for i in mw['tes']:
    if "Mineral water" not in i:
        i = 0
    rows.append([i])
rows
# mw = pd.DataFrame(rows, columns=['tes'])
# mw.head()

TypeError: argument of type 'int' is not iterable

In [89]:
for "Mineral water" not in i:
    i = 0
    rows.append([i])

SyntaxError: invalid syntax (<ipython-input-89-254310738da9>, line 1)

In [68]:
df["What will you bring?"] = df["What will you bring?"].fillna('no')

rows = []
for i in df['What will you bring?']:
    if "Soda" in i:
        i = 1
    rows.append([i])
sd = pd.DataFrame(rows, columns=['Soda'])
sd

                                  Soda
0                        Mineral water
1                                    1
2                                   no
3                                    1
4                                   no
5                        Mineral water
6                                    1
7                                    1
8                Snacks, Mineral water
9                                   no
10                                  no
11                                  no
12                                  no
13                                  no
14                       Mineral water
15                                  no
16                                  no
17                                  no
18                                   1
19                Staple foods, Snacks
20           Junk foods, Mineral water
21                                  no
22                                   1
23                                  no
24  Staple foods, Mineral water, Other
25                 Staple foods, Other
26                                  no
27                                  no
28                                  no
29                               Other

In [17]:
text = 'python is the best programming language in the world YEAH'

In [18]:
len(re.findall(pattern, text))

10

In [25]:
a = re.findall(pattern, text)
a

['python',
 'is',
 'the',
 'best',
 'programming',
 'language',
 'in',
 'the',
 'world',
 'YEAH']

In [27]:
test_string = "Geeksforgeeks is best, Computer Science Portal"
  
# printing original string
print ("The original string is : " +  test_string)
  
# using split()
# to count words in string
res = len(test_string.split(','))
  
# printing result
print ("The number of words in string are : " +  str(res))

The original string is : Geeksforgeeks is best, Computer Science Portal
The number of words in string are : 2

             0
0       python
1           is
2          the
3         best
4  programming
5     language
6           in
7          the
8        world
9         YEAH